.better-validity-tooltip {
    position: absolute;
    cursor: default;
    display: inline-block;

    color: #FF3329;
    background: #FFF;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    line-height: 1;

    padding: 0.5em;

    border: 1px solid;
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.better-validity-tooltip[aria-hidden=true] {
    opacity: 0;
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
}

input.valid, input.invalid {
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
}

input.valid {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQ4IiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgNDggNDgiPgogICAgPHBhdGggZmlsbD0iIzQyQjMwMCIgZD0iTTI0IDBjLTEzLjI1NSAwLTI0IDEwLjc0NS0yNCAyNHMxMC43NDUgMjQgMjQgMjQgMjQtMTAuNzQ1IDI0LTI0LTEwLjc0NS0yNC0yNC0yNHpNMTkuNSAzOWwtOS45MzgtMTIuOTM4IDQuNDA2LTQuNTk0IDUuNTMxIDcuMDMxIDE3LjM0NC0xNC4xNTYgMi4xNTYgMi4xNTYtMTkuNSAyMi41eiIvPgo8L3N2Zz4=);
}

input.invalid {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQ4IiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgNDggNDgiPgogICAgPHBhdGggZmlsbD0iI0ZGMzMyOSIgZD0iTTQ4IDM0LjVsLTEzLjUtMzQuNWgtMjFsLTEzLjUgMTMuNXYyMWwxMy41IDEzLjVoMjFsMTMuNS0xMy41di0yMWwtMTMuNS0xMy41ek0yNyAzOWgtNnYtNmg2djZ6TTI3IDI3aC02di0xOGg2djE4eiIvPgo8L3N2Zz4K);
}

input.valid::-ms-clear,
input.valid::-ms-reveal,
input.invalid::-ms-clear,
input.invalid::-ms-reveal {
    display: none;
}

input[type=radio].valid,
input[type=radio].invalid,
input[type=checkbox].valid,
input[type=checkbox].invalid {
    background-image: none;
}
