.better-validity-tooltip {
    position: absolute;
    cursor: pointer;

    color: #FF3329;
    background: #FFF;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    line-height: 1;

    padding: 0.5em;

    border: 1px solid;
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em;

    user-select: none;

    opacity: 0.925;
    transform: scale(1, 1);
    transform-origin: 0 0;
    transition: 0.3s ease-in-out;
    transition-property: transform, opacity;
}

.better-validity-tooltip[aria-hidden=true] {
    opacity: 0;
    transform: scale(2, 2);
}

input[aria-invalid] {
    background: none no-repeat right center / auto 100% content-box;
}

input[aria-invalid=false] {
    background-image: url(src/valid-icon.svg);
}

input[aria-invalid=true] {
    background-image: url(src/invalid-icon.svg);
}

input[aria-invalid][type=checkbox],
input[aria-invalid][type=radio] {
    background: none;
}

input[aria-invalid]::-ms-clear,
input[aria-invalid]::-ms-reveal {
    display: none;
}
